/* Neo Sans Std - 極太斜体 */
@font-face {
    font-family: 'NeoSansBoldItalic';
    src: url('fonts/NeoSans/NeoSans Black Italic.otf') format('opentype');
}

/* Noto Sans JP  */
@font-face {
    font-family: 'NotoSansJP';
    src: url('fonts/Noto Sans JP/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: "NeoSansBoldItalic", "NotoSansJP","Comic Sans MS", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: white;
}
/* 画面全体にiframeを広げる */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* ボタンのスタイル */

button {
    text-align: center;
    height: 60px;
    padding: 13px 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 3px;
    /* ボタン同士の間隔を開ける */
    margin-bottom: 5px;
    color: black;
}

.nextRound {
    position: absolute;
    width: 300px;
    border-radius: 30;
    font-size: 25px;
    top: 10px;
    left: 0%;
    z-index: 30;
}

.itemIcon{
    border-radius: 100px;
    height: 50px;
    width: 50px;
    background-color: rgba(69, 69, 69, 0.7);
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 5px;
    z-index: 30;
    color: white;
    font-style: normal;
}

.goBack{
    transform: translateX(10%);
    margin: 2%;
    background: none;
    color: white;
    font-size: 20px;
    height: 50px;
    margin-top: 10px;
    padding: 8px 16px;
    border: 1.5px solid white;
    border-radius: 30px;
}

#timer {
    display: flex;
}

.timer {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    width: 100px;
    border-radius: 30px; /* 角丸にする */
    --progress: 0%;
    background: conic-gradient(#563b9a var(--progress ,0%) ,#ffffff 0%);
    background-position: center;
    text-align: center;
    z-index: 40;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 内部の擬似要素が枠を超えないようにする */
}

#countdown {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 2; /* 擬似要素の上に表示 */
}

.progress-overlay {
    position: absolute;
    transform: scale(0.9,0.8);
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; /* .timer の border-radius を継承 */
    background-color: #563b9a; /* タイマー背景色 */
    z-index: 1; /* 背景として動く */
}

.leaflet-container {
    cursor:context-menu;
}

.map-name {
    position: absolute;
    top: 15px;
    right: 0px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 20px;
    color: white;
    background: linear-gradient( to bottom , #9589c9,  #563b9a);
    font-size: 20px;

    user-select: none;
    
    /* 左の辺を斜めにする */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
}

#map-container {
    position: absolute;
    bottom: 60px;
    right: 70px;
    width: 230px;
    height: 180px;
    z-index: 2;
    border: solid black 2px;
    overflow: hidden;
    transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
    opacity: 0.6;
}

#map-container:hover {
    width: 600px;
    height: 400px;
    opacity: 1;
    transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease 0s;
    /* ホバー時にすぐ拡大 */
}

#map-container:not(:hover) {
    transition: width 0.2s ease 1.2s, height 0.2s ease 1.2s, opacity 0.2s ease 1.2s;
    /* ホバー解除時に遅延 */
}

#map {
    width: 600px;
    height: 400px;
    cursor: crosshair;
    transition: transform 0.2s;
    /* マップ自体のアニメーション */
}

/* guess-button の設定 */
/* ボタンの設定 */
.guess-button {
    text-align: center;
    background: radial-gradient(ellipse at top, #97E851, #6CB928);
    color: black;
    padding: 6px 96px;
    padding-top: 4px;
    padding-bottom: 8px;
    border-radius: 30px;
    width: 230px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 67px;
    height: 40px;
    z-index: 3;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    /* opacityのみCSSで制御 */
}
.guess-button:hover {
    opacity: 1;
    /* ホバー時の不透明度を変更 */
    transition: opacity 0.2s ease;
    /* ホバー効果のトランジション */
}

.guess-button:active {
    transform: scale(0.95);
    /* クリック時に少し縮む */
    transition: transform 0.1s ease;
    /* クリック効果のトランジション */
}
#distance {
    position: absolute; /* 絶対位置を指定して地図の上に配置 */
    font-size: 25px;
    background-color: #1A1A2E;
    bottom: 60px;
    text-align: center;
    z-index: 10; /* 地図よりも上に表示されるようにz-indexを設定 */
    padding: 10px; /* 内側の余白 */
}

#NMPZ-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
}

.result-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #1A1A2E;
    justify-content: center;
    align-items: center;
}
#resultMap {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    z-index: 20;
    overflow: hidden;

}

#remap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    border: solid white 2px;
}

#nextRound {
    background: radial-gradient(ellipse at top, #97E851, #6CB928);
    color:  white;
    font-size: 30;
    z-index: 100;
    color: black;
    position: absolute;
    border-radius: 10px;
    padding: 10px 30px;
    bottom: 20px;
}





/*設定(ポーズ画面)のスタイル*/
/* ボタンのスタイル */
.settingsButton {
    text-align: center;
    height: 60px;
    cursor: pointer;
    padding: 13px 50px;
    top: 11px;
    left: 0%;
    z-index: 10;
    font-size: 18px;
    margin-right: 3px;
    /* ボタン同士の間隔を開ける */
    margin-bottom: 5px;
    color: black;
}
/* ポップアップ全体のスタイル */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.8);
    justify-content: center;
    align-items: center;
}
/* ポップアップコンテンツのスタイル */
.popup-content {
    color: white;
    padding: 20px;
    width: 70%;
    text-align: center;
}
/* 閉じるボタンのスタイル */
.close-popup-btn {
    background: radial-gradient(ellipse at top, #b2da8f, #6cb928);
    border: none;
    margin-top: 10px;
    height: 50px;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
/* スライダーコンテナのスタイル */
.slider-container {
    display: flex;
    white-space: nowrap;
    width: 80%;
    max-width: 300px;
    color: white;
}
/* 音量スライダーのスタイル */
#volumeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #a19bd9;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
    border-radius: 5px;
}
#volumeSlider:hover {
    opacity: 1;
}
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #7950e5;
    cursor: pointer;
    border-radius: 50%;
}
#volumeSlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #7950e5;
    cursor: pointer;
    border-radius: 50%;
}
/* トグルスイッチのスタイル */
.toggle-switch {
    position: relative;
    width: 50px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #7950e5;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider-container {
    margin-top: 20px;
    width: 80%;
    max-width: 300px;
}