* {
    font-family: Comic Sans MS;
    color: white;
}
/* 画面全体にiframeを広げる */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* ボタンのスタイル */
.button-container {
    position: absolute;
    top: 11px;
    left: 0%;
    z-index: 10;
}

button {
    padding: 13px 20px;
    font-size: 18px;
    margin-right: 3px;
    /* ボタン同士の間隔を開ける */
    margin-bottom: 5px;
    color: black;
}

.leaflet-container {
    cursor:default;
}

.map-name {
    position: absolute;
    top: 15px;
    right: 0px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 20px;
    color: white;
    background-color: #573b5b;
    font-size: 20px;

    /* 左の辺を斜めにする */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
}

#map-container {
    position: absolute;
    bottom: 60px;
    right: 70px;
    width: 230px;
    height: 180px;
    z-index: 2;
    /* Leaflet地図が上に来るように設定 */
    border: solid black 2px;
    overflow: hidden;
    /* はみ出す部分を隠す */
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    opacity: 0.6; /* 初期状態で半透明 */
}

#map {
    width: 200%;
    height: 200%;
    transition: transform 0.3s;
    /* マップ自体のアニメーション */
}

#map-container:hover {
    width: 600px;
    height: 400px;
    opacity: 1;
}

.guess-button {
    background: linear-gradient(90deg, #b2da8f, #6cb928); /* 左から右へのグラデーション */
    color: black;
    padding: 8px 95px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 67px;
    z-index: 3;
    opacity: 0.6; /* 初期状態で半透明 */
    transition: width 0.3s, opacity 0.3s; /* アニメーションのトランジションを追加 */
    transform-origin: right;
}
/* マウスオーバーで拡大 */
#map-container:hover ~ .guess-button {
    width: 603px;
    opacity: 1; /* 不透明にする */
}

#distance {
    margin: 20px;
    font-size: 20px;
    background-color: #573b5b;
}